<h1>IT'S BURGER TIME!!</h1>

<h3>Help Chef Peter Pepper create the most delicious burgers! He was once chased by living food but he is determined to complete and perfect hamburgers for others to enjoy! He was once armed with nothing more than pepper shakers, but now he can create any burger you can imagine. Ask for a burger and Chef Peter Pepper will have it ready for you! </h3>

<h2>Burgers that are not eaten!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Let's chow down!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bName">Burger Name:</label>
        <input type="text" id="burger_name" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Devour?</label><br>
        <input type="radio" name="devoured" value="1" checked> No, I'm full!<br>
        <input type="radio" name="devoured" value="0"> NOMS
    </div>

    <button type="submit">Add Burger</button>
</form>